<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >
    <display-name>PSP RSS Feeder</display-name>
    <context-param>
        <description>Location of the iTunes library file</description>
        <param-name>iTunesLibrary</param-name>
        <param-value>/Users/mdescher/Music/iTunes/iTunes Music Library.xml</param-value>
    </context-param>
    <filter>
        <filter-name>ParameterTrimmerFilter</filter-name>
        <filter-class>de.codewave.utils.servlet.ServletRequestParameterTrimmer</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ParameterTrimmerFilter</filter-name>
        <servlet-name>RSSFeed</servlet-name>
    </filter-mapping>
    <listener>
        <description>Servlet context listener for loading the iTunes library</description>
        <display-name>iTunesLibraryListener</display-name>
        <listener-class>de.codewave.rss4psp.itunes.ITunesLibraryContextListener</listener-class>
    </listener>
    <servlet>
        <description>Servlet for creating the RSS feed</description>
        <display-name>RSSFeed</display-name>
        <servlet-name>RSSFeed</servlet-name>
        <servlet-class>de.codewave.rss4psp.servlet.RSSFeedServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Servlet for delivering MP3 content</description>
        <display-name>MP3Delivery</display-name>
        <servlet-name>MP3Delivery</servlet-name>
        <servlet-class>de.codewave.rss4psp.servlet.MP3DeliveryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MP3Delivery</servlet-name>
        <url-pattern>/rss/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSSFeed</servlet-name>
        <url-pattern>/rss</url-pattern>
    </servlet-mapping>
</web-app>
