<?xml version="1.0" encoding="UTF-8"?>
<settings>
<version/>
<serverPort>8080</serverPort> <!-- TODO -->
<availableOnLocalNet>false</availableOnLocalNet>
<checkUpdateOnStart>false</checkUpdateOnStart>
<autoStartServer>true</autoStartServer>
<updateDatabaseOnServerStart>true</updateDatabaseOnServerStart>
<ignoreTimestamps>false</ignoreTimestamps>
<baseDirCount>1</baseDirCount>
<datasources>
<datasource>/Users/mdescher/Library/Mail Downloads/MyTunesRSS_Support 2/iTunes Music Library.xml</datasource> <!-- TODO -->
</datasources>
<iTunesDeleteMissingFiles>false</iTunesDeleteMissingFiles>
<localTempArchive>false</localTempArchive>
<users>
<user>
<name>yoics</name> <!-- TODO -->
<password>DScDiPL5J1el3g9L2JHTs5LETE8=</password> <!-- TODO -->
<active>true</active>
<featureRss>false</featureRss>
<featurePlaylist>false</featurePlaylist>
<featureDownload>false</featureDownload>
<featureUpload>false</featureUpload>
<featurePlayer>false</featurePlayer>
<featureChangePassword>false</featureChangePassword>
<featureLastFmAccount>false</featureLastFmAccount>
<featureSpecialPlaylists>false</featureSpecialPlaylists>
<featureCreatePlaylists>false</featureCreatePlaylists>
<featureEditWebSettings>false</featureEditWebSettings>
<quotaType>None</quotaType>
<featureTranscoder>false</featureTranscoder>
<sessionTimeout>1</sessionTimeout>
<bandwidthLimit>0</bandwidthLimit>
<email/>
<saveWebSettings>false</saveWebSettings>
<urlEncryption>true</urlEncryption>
</user>
<user>
</users>
<supportName/>
<supportEmail/>
<proxyServer>false</proxyServer>
<quitConfirmation>false</quitConfirmation>
<codewaveLogLevel>ERROR</codewaveLogLevel>
<lastNewVersionInfo>3.6.5</lastNewVersionInfo>
<database>
<type>h2</type>
<driver>org.h2.Driver</driver>
<connection>jdbc:h2:file:/Users/mdescher/Library/Caches/MyTunesRSS3/h2/MyTunesRSS</connection><!-- TODO -->
<user>sa</user>
<password/>
</database>
<jmx>
<host>0.0.0.0</host>
<port>8500</port> <!-- TODO -->
<user/>
<password/>
</jmx>
<anonymous-statistics>false</anonymous-statistics>
</settings>
