/* CSS Document */

div.body {
    width: expression( document . body . clientWidth > 480 ? "480px": "auto" );
}

body div.input input {
    margin: 0;
}

ul.links li a {
		height: auto;
		padding: 3px 0 3px 15px;
}
