<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>VaadinServlet</servlet-name>
        <servlet-class>
            com.vaadin.terminal.gwt.server.ApplicationServlet
        </servlet-class>
        <init-param>
            <param-name>application</param-name>
            <param-value>de.codewave.mytunesrss.webadmin.MyTunesRssWebAdmin</param-value>
        </init-param>
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>
                de.codewave.mytunesrss.webadmin.MyTunesRssWebAdmin
            </param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>de.codewave.mytunesrss.webadmin.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.mortbay.jetty.servlet.DefaultServlet</servlet-name>
        <servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VaadinServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/-system/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.mortbay.jetty.servlet.DefaultServlet</servlet-name>
        <url-pattern>/jquery.js</url-pattern>
    </servlet-mapping>
</web-app>