@import "../reindeer/styles.css";

td.v-table-cell-content {
    vertical-align: middle;
}

.v-label-statusmessage {
    font-size: 1.5em;
    line-height: normal;
}

div.v-panel-content-updatePanel > div {
    background-color: #ffffe0;
}