@import "../reindeer/styles.css";

td.v-table-cell-content {
    vertical-align: middle;
}

div.v-label-statusmessage {
    font-size: 1.2em;
    line-height: normal;
}

div.v-panel-content-alertPanel > div {
    background-color: #f08080;
}

div.v-panel-content-alertPanel div.v-label {
    font-size: 1.2em;
    line-height: normal;
}

div.v-panel-content-updatePanel > div {
    background-color: #ffffe0;
}

div.v-label-goodbye {
    font-size: 3em;
    line-height: normal;
}

.v-textfield-missing-translation {
    background-color: #f08080;
}