<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <description>MyTunesRSS web application</description>
    <display-name>MyTunesRSS</display-name>
    <!-- RestEasy configuration -->
    <context-param>
        <param-name>resteasy.logger.type</param-name>
        <param-value>SLF4J</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/rest</param-value>
    </context-param>
    <!-- Session cookie name -->
    <context-param>
        <param-name>org.eclipse.jetty.servlet.SessionCookie</param-name>
        <param-value>MyTunesRSSUserSessionID</param-value>
    </context-param>
    <!-- Allow servlets for welcome files -->
    <context-param>
        <param-name>org.eclipse.jetty.servlet.Default.welcomeServlets</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- Jasper compiler initialization -->
    <listener>
        <listener-class>de.codewave.mytunesrss.JettyJasperInitializerListener</listener-class>
    </listener>
    <!-- Listener for command handler registry -->
    <listener>
        <description>Command handler registry listener</description>
        <display-name>CommandHandlerRegistry</display-name>
        <listener-class>de.codewave.mytunesrss.command.MyTunesRssCommandHandlerRegistry</listener-class>
    </listener>
    <!-- Listener for session manager initialization -->
    <listener>
        <description>Session manager listener</description>
        <display-name>SessionManager</display-name>
        <listener-class>de.codewave.mytunesrss.servlet.MyTunesRssSessionManager</listener-class>
    </listener>
    <context-param>
        <description>Session info class</description>
        <param-name>sessionInfoClass</param-name>
        <param-value>de.codewave.mytunesrss.server.MyTunesRssSessionInfo</param-value>
    </context-param>
    <!-- Listener for off heap session store -->
    <listener>
        <description>Off heap session store listener</description>
        <display-name>OffHeapSessionStoreListener</display-name>
        <listener-class>de.codewave.mytunesrss.OffHeapSessionStoreListener</listener-class>
    </listener>
    <!-- Filter for adding custom headers -->
    <filter>
        <description>Maintenance mode filter.</description>
        <display-name>MaintenanceFilter</display-name>
        <filter-name>MaintenanceFilter</filter-name>
        <filter-class>de.codewave.mytunesrss.servlet.MaintenanceFilter</filter-class>
    </filter>
    <!-- Filter for adding custom headers -->
    <filter>
        <description>Filter for adding custom headers.</description>
        <display-name>CustomHeaderFilter</display-name>
        <filter-name>CustomHeaderFilter</filter-name>
        <filter-class>de.codewave.mytunesrss.CustomHeaderFilter</filter-class>
    </filter>
    <!-- Off heap session store filter -->
    <filter>
        <description>Off heap session store filter.</description>
        <display-name>OffHeapSessionStoreFilter</display-name>
        <filter-name>OffHeapSessionStoreFilter</filter-name>
        <filter-class>de.codewave.mytunesrss.OffHeapSessionStoreFilter</filter-class>
    </filter>
    <!-- Bandwidth limit filter -->
    <filter>
        <description>Banwidth limit filter.</description>
        <display-name>BandwidthLimitFilter</display-name>
        <filter-name>BandwidthLimitFilter</filter-name>
        <filter-class>de.codewave.mytunesrss.servlet.BandwidthLimitFilter</filter-class>
    </filter>
    <!-- Filter for setting the request encoding to UTF-8 if none has been specified -->
    <filter>
        <description>Filter for setting the request encoding.</description>
        <display-name>EncodingFilter</display-name>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>de.codewave.mytunesrss.servlet.EncodingFilter</filter-class>
        <init-param>
            <description>Character encoding</description>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <!-- Filter for decrypting the path information -->
    <filter>
        <description>Filter for decrypting the path info.</description>
        <display-name>PathInfoDecryptionFilter</display-name>
        <filter-name>PathInfoDecryptionFilter</filter-name>
        <filter-class>de.codewave.mytunesrss.servlet.PathInfoDecryptionFilter</filter-class>
    </filter>
    <!-- Filter for adding the path information key/value pairs to the request parameters -->
    <filter>
        <description>Filter for adding path info key/value pairs to the request parameters.</description>
        <display-name>PathInfoRequestParameterFilter</display-name>
        <filter-name>PathInfoRequestParameterFilter</filter-name>
        <filter-class>de.codewave.utils.servlet.PathInfoRequestParameterFilter</filter-class>
    </filter>
    <!-- Filter for trimming all request parameter values -->
    <filter>
        <description>Filter for trimming all parameter strings.</description>
        <display-name>ServletRequestParameterTrimmer</display-name>
        <filter-name>ServletRequestParameterTrimmer</filter-name>
        <filter-class>de.codewave.utils.servlet.ServletRequestParameterTrimmer</filter-class>
    </filter>
    <!-- Session manager filter -->
    <filter>
        <filter-name>SessionManagerFilter</filter-name>
        <filter-class>de.codewave.mytunesrss.servlet.MyTunesRssSessionManager</filter-class>
    </filter>
    <!-- Filter for applying a transaction to each request -->
    <filter>
        <filter-name>TransactionFilter</filter-name>
        <filter-class>de.codewave.mytunesrss.servlet.TransactionFilter</filter-class>
    </filter>
    <!-- Filter mappings -->
    <filter-mapping>
        <filter-name>BandwidthLimitFilter</filter-name>
        <url-pattern>/mytunesrss/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/mytunesrss/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PathInfoDecryptionFilter</filter-name>
        <url-pattern>/mytunesrss/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PathInfoRequestParameterFilter</filter-name>
        <url-pattern>/mytunesrss/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ServletRequestParameterTrimmer</filter-name>
        <url-pattern>/mytunesrss/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OffHeapSessionStoreFilter</filter-name>
        <url-pattern>/mytunesrss/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionManagerFilter</filter-name>
        <url-pattern>/mytunesrss/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionManagerFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <url-pattern>/mytunesrss/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomHeaderFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MaintenanceFilter</filter-name>
        <url-pattern>/mytunesrss/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MaintenanceFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MaintenanceFilter</filter-name>
        <url-pattern>/flashplayer/*</url-pattern>
    </filter-mapping>
    <servlet>
        <description>Command dispatcher servlet</description>
        <display-name>CommandServlet</display-name>
        <servlet-name>CommandServlet</servlet-name>
        <servlet-class>de.codewave.utils.servlet.CommandServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Theme resource retrieval servlet</description>
        <display-name>ThemeServlet</display-name>
        <servlet-name>ThemeServlet</servlet-name>
        <servlet-class>de.codewave.mytunesrss.servlet.ThemeServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Flash player resource retrieval servlet</description>
        <display-name>FlashPlayerServlet</display-name>
        <servlet-name>FlashPlayerServlet</servlet-name>
        <servlet-class>de.codewave.mytunesrss.servlet.FlashPlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>de.codewave.mytunesrss.rest.Application</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>resteasy-jsapi</servlet-name>
        <servlet-class>org.jboss.resteasy.jsapi.JSAPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandServlet</servlet-name>
        <url-pattern>/mytunesrss/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemeServlet</servlet-name>
        <url-pattern>/theme/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlashPlayerServlet</servlet-name>
        <url-pattern>/flashplayer/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resteasy</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resteasy-jsapi</servlet-name>
        <url-pattern>/rest.js</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>http://www.codewave.de/mytunesrss/jsp/functions</taglib-uri>
            <taglib-location>/WEB-INF/mytunes-functions.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://www.codewave.de/mytunesrss/jsp/tags</taglib-uri>
            <taglib-location>/WEB-INF/mytunes-tags.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
