/* CSS Document */


/* Body */

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: #d1dfec url( "../images/background.png" ) repeat-x;
    text-align: center;
}

div.body {
    max-width: 780px;
    min-width: 480px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}


/* Common */

a {
    text-decoration: none;
    color: #217dd9;
}

a:HOVER {
    text-decoration: underline;
}


/* Head */

.startpage div.head,
.loginpage div.head {
    margin: 10px 0 0 0;
    padding: 0 14px 0 0;
    background: url("../images/head.png") bottom right;
}

.startpage h1,
.loginpage h1 {
    background: url( "../images/head.png" ) left top;
    height: 50px;
    padding: 11px 0 0 0;
    margin: 0;
    text-align: center;
}

.startpage h1 span,
.loginpage h1 span {
    display: block;
    width: 195px;
    height: 42px;
    margin: 0 auto;
    text-indent: -9999px;
    background: url("../images/logo.png");
}

.browse div.head,
.plmanager div.head,
.trackinfo div.head,
.upload div.head,
.settings div.head {
    margin: 10px 0 0 0;
    padding: 0 14px 0 0;
    background: url("../images/head-small.png") bottom right;
}

.browse h1,
.plmanager h1,
.trackinfo h1,
.upload h1,
.settings h1 {
    position: relative;
    height: 20px;
    padding: 6px 0 0 0;
    margin: 0;
    background: url( "../images/head-small.png" ) left top;
    font-size: 12px;  
    text-align: center;
    font-weight: normal;
    cursor: default;
}

.browse h1 span,
.plmanager h1 span,
.trackinfo h1 span,
.upload h1 span,
.settings h1 span {
    padding-left: 20px;
    color: #000;
    text-shadow: #eee 0 1px 0;
    background: url("../images/library.png") left center no-repeat;
}

.browse h1 a,
.plmanager h1 a,
.trackinfo h1 a,
.upload h1 a,
.settings h1 a {
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
    padding: 0 3px 0 0;
    background: url("../images/portal-button.png") right bottom no-repeat;
    text-decoration: none;
    outline: 0;
}

.browse h1 a span,
.plmanager h1 a span,
.trackinfo h1 a span,
.upload h1 a span,
.settings h1 a span {
    display: block;
    height:  15px;
    padding: 1px 5px 0 8px;
    background: url("../images/portal-button.png") left top no-repeat;
    font-size: 10px;
    color: #000;
    font-weight: bold;       
}


/* Menu */

ul.menu {
    height: 25px;
    margin: 0;
    padding: 0;
    background: url("../images/menu.png") left top;
}

ul.menu li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;        
}

ul.menu a {
    display: block;
    padding: 0 12px 0 10px;
    line-height: 25px;
    background: url("../images/menu-seperator.png") right top no-repeat;
    font-size: 10px;
    font-weight: bold;
    color: #eee;
    text-decoration: none;
    text-shadow: #000 0 -1px 0px;
    outline: 0;    
}


ul.menu a:HOVER {
    text-decoration: underline;
}

ul.menu .logout,
ul.menu .back {
    float: right;
}

ul.menu .logout a,
ul.menu .back a {
    padding: 0 10px 0 12px;
    background: url("../images/menu-seperator.png") left top no-repeat;       
}


/* Navigation */

.navigation {
    display: table;
    position: static;
    width:  100%;
    padding: 8px 0;
    background: #dadfe7;
}

.navigation .search {
    width: 85%;
    background: url("../images/search.png") 10px center no-repeat;
    padding: 0 20px 0 57px;
    display: table-cell;
    vertical-align: middle;    
}

.navigation .search input[type="text"] {
    width: 98%;
    margin: 0 0 8px 0;
}

.navigation .search input[type="submit"] {
    float: right;
    margin: 0;
}


.navigation .links {
    display: table-cell;
    width: 35%;
    padding: 0 10px 0 22px;
    background: url("../images/navigation-seperator.png") left center no-repeat;
    vertical-align: middle;    
}

.navigation a {
    display: block;
    margin: 2px 0;
    padding: 2px 0 2px 20px;
    background-repeat: no-repeat;
    color: #000;
    text-decoration: none;
    outline: 0;
}

.navigation a:HOVER {
    text-decoration: underline;
}

.navigation .library {
    background: url("../images/library.png") left center no-repeat;
}

.navigation .playlists {
    background: url("../images/playlists.png") left center no-repeat;
}

.navigation .upload {
    background: url("../images/upload.png") left center no-repeat;
}


/* Content */

.content {
    padding: 0 9px 0 0;
    background: url("../images/content-right.png") right top repeat-y;
}

.content-inner {
    position: relative;
    padding: 0 0 0 9px;
    background: url("../images/content-left.png") left top repeat-y;    
}


/* Actions */

.actions a {
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.actions .rss,
.actionsMenu .rss {
    background: url("../images/action-rss.png") left top no-repeat;    
}

.actions .playlist,
.actionsMenu .playlist {
    background: url("../images/action-playlist.png") left top no-repeat;    
}

.actions .flash,
.actionsMenu .flash {
    background: url("../images/action-flash.png") left top no-repeat;    
}

.actions .download,
.actionsMenu .download {
    background: url("../images/action-download.png") left top no-repeat;    
}

.actions .menu {
    background: url("../images/action-menu.png") left top no-repeat;    
}

.actions .add {
    background: url("../images/action-add.png") left top no-repeat;    
}

.actions .remote,
.actionsMenu .remote {
    background: url("../images/action-remote.png") left top no-repeat;
}

.actions .tags,
.actionsMenu .tags {
    background: url("../images/action-tags.png") left top no-repeat;
}

.actions .links,
.actionsMenu .links {
    background: url("../images/action-links.png") left top no-repeat;
}


/* Actions Menu */

.actionsMenu a {
    display: block !important;
    margin: 5px 0;
    padding: 1px 24px;
    background-position: left center;
    background-repeat: no-repeat;
    text-align: left;
    cursor: pointer;
}


/* Tracklists */

.tracklist {
    width: 100%;
    cursor: default;    
}

.tracklist th {
    padding: 0 8px;
    background: url("../images/tracklist-head.png") right top repeat-x;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    text-align: left;
    font-weight: bold;
    text-shadow: #243ece 0 -1px 0px;
}

.searchResult th {
    padding: 2px 8px;
    background: url("../images/searchResult-head.png") right top repeat-x;
    font-size: 12px;
    text-align: left;
}

.searchResult th a {
    color: #fff;
    text-shadow: #243ece 0 -1px 0px;
    text-decoration: none;  
    outline: 0;  
}

.searchResult th a:HOVER {
    text-decoration: underline;
}

.searchResult th.actions {
    text-align: right;
    padding-top: 4px;
    padding-bottom: 0;
    padding-right: 5px;
    background-position: left top;
    white-space: nowrap;
}


.tracklist th.tracks {
    background-position: left top;
    text-align: left;
}

.tracklist td {
    padding: 2px 8px;
}

.tracklist tr.odd td {
    background-color: #f4f7fb;
}

.tracklist td a {
    color: #000;
    text-decoration: none;
    outline: 0;
}

.tracklist td a:HOVER {
    text-decoration: underline;
}

.tracklist td.actions {
    width: 1%;
    text-align: right;
    padding: 3px 5px 0 10px;
    white-space: nowrap;
}

.tracklist td.tracks,
.tracklist td.album,
.tracklist td.genreartist {
    width: 1%;
}

.tracklist td.tracks a {
    display: block;
    background: url("../images/tracks.png") left center no-repeat;
    padding-left: 16px;
}

.tracklist td.album a {
    display: block;
    background: url("../images/albums.png") left center no-repeat;
    padding-left: 16px;
}

.tracklist td.genreartist a {
    display: block;
    background: url("../images/artists.png") left center no-repeat;
    padding-left: 16px;
}

.tracklist td.empty {
    font-style: italic;
    background: #dadfe7;
    padding: 10px;
    color:  #666;
    text-shadow: #fff 0 1px 0;
    text-align: center;
}

.tracklist .coverThumbnailColumn {
    padding: 0 !important;
}

.tracklist .coverThumbnailColumn div.trackName {
    min-height: 28px;
    position: relative;
    padding: 6px 5px 2px 42px;
}

.tracklist .coverThumbnailColumn img {
    position: absolute;
    top: 2px;
    left: 2px;
}

.tooltip {
    position: absolute;
    display: none;
}

/* Playlists */

.tracklist td.mytunes {
    padding-left: 32px;
    background-image: url( "../images/playlist_mt.png" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

.tracklist td.itunes {
    padding-left: 32px;
    background-image: url( "../images/playlist_it.png" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

.tracklist td.itunesfolder {
    padding-left: 32px;
    background-image: url( "../images/folder_it.png" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

.tracklist td.mytunessmart {
    padding-left: 32px;
    background-image: url( "../images/playlist_mt_smart.png" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

.tracklist td.homefolder {
    padding-left: 32px;
    background-image: url( "../images/home_folder.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

.tracklist td.parentfolder {
    padding-left: 32px;
    background-image: url( "../images/parent_folder.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}


/* Footer */

.footer {
    padding: 0 17px 0 0;
    background: url("../images/footer.png") right bottom no-repeat;
}

.footer-inner {
    height: 42px;
    padding: 0 0 0 17px;
    background: url("../images/footer.png") left top no-repeat;
    color: #999;
    font-size: 10px;
    line-height: 24px;
    text-align: center;
    text-shadow: #fff 0 1px 0;
    cursor: default;
}

.footer a {
    color: #999;
    text-decoration: none;
}

.footer a:HOVER {
    text-decoration: underline;
}

/* Login Page */

h2 {
    margin: 0;
    padding: 0;
    background: url("../images/tracklist-head.png") center top repeat-x;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: #243ece 0 -1px 0px;
    cursor: default;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

table.login {
    width: 100%;
    background: #dadfe7;
    border: 15px solid #dadfe7;
    text-shadow: #eee 0 1px 0;
    color: #444;
    cursor: default;
}

table.login td {
    padding: 5px 8px;    
}

table.login .label {
    text-align: right;
    width: 30%;
}

table.login input[type="text"],
table.login input[type="password"] {
    width: 99%;
}

table.login select {
    width: 100%;
}


/* Messages */

div.error {
    color: #f00;
    padding: 5px;
    border-bottom: 1px solid #666;
    background: #fee;
    text-align: center;
}

div.message {
    color: #000;
    padding: 5px;
    border-bottom: 1px solid #666;
    background: #ffe;
    font-weight: bold;
}


/* Pager */

table.pager {
    width: 100%;
}

table.pager td {
    padding: 0;
}

table.pager a {
    display: block;
    padding: 2px 2px 0 0;
    background: url("../images/pager.png") right top no-repeat;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    text-shadow: #fff 0 1px 0;
    text-align: center;
    color: #000;
    text-decoration: none;
    outline: 0;
}

table.pager a:HOVER {
    text-decoration: underline;
}


/* Settings */

table.settings {
    width: 100%;
    background: #dadfe7;
    cursor: default;
}

table.settings th {
    padding: 0;
    background: url("../images/tracklist-head.png") center top repeat-x;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: #243ece 0 -1px 0px;
    cursor: default;
}

table.settings td {
    padding: 5px 15px 5px 10px;
    color: #000;
}

table.settings td.label {
    width: 45%;
    padding: 5px 10px;
    text-align: right;
    text-shadow: #efefef 0 1px 0;
    color: #666;
    font-weight: bold;       
}

table.settings input[type="text"],
table.settings input[type="password"] {
    width: 99%;
}

table.settings input.number {
    width: 40px;
}

div.buttons {
    padding: 20px 0 10px 0;
    background: #dadfe7;
    text-align: center;
}


/* Filter */

td.filter {
    width: 20px;
    padding: 0;
}

td.filter a {
    cursor: pointer;
    display: block;
    height: 17px;
    padding: 0;
    background: url("../images/filter.png");
    text-indent: -9999px;
}


/* Track Info */

a.original {
    background: url("../images/action-download.png") left center no-repeat;
    padding-left: 24px;
    margin-bottom: 20px;
}


/* Yahoo Player */

.actions a.ymp-btn-page-play,
.actions a.ymp-btn-page-pause {
    padding: 0 !important;
}


/* Upload Page and Progress Bar */

body.upload td.label {
	text-align: left;
	font-weight: normal;
	padding: 20px 50px;
}

body.upload form {
	text-align: center;
	padding: 0 0 20px 0;
}

#progressDiv {
	display: none;
	background: #DADFE7;
	padding: 0 50px 20px 50px;
}

#progressBackground {
	background: url("../images/progress_background.gif") center center no-repeat;	
	border: 1px solid #666;
}

#progressBar {
	background: url("../images/progress_bar.gif") center center no-repeat;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	color: #fff;
	text-shadow: #666 0 -1px 0;
}


/* old styles



h2 {
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    background: url( "../images/th.gif" ) repeat-x;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

form {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    margin: 0;
    vertical-align: middle;
}

table {
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-bottom: 1px solid #666;
}

table.displayfilter {
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-bottom: 0;
}

table.statistics {
    width: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-bottom: 0;
}

table.statistics td {
    padding: 5px 20px 5px 0;
    white-space: nowrap;
}

th {
    text-align: left;
    background: #baeafa url( "../images/th.gif" );
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 5px 10px 5px 10px;
    color: #000;
    font-weight: normal;
}

th.active {
    font-weight: bold;
}

th.check {
    padding: 0;
    text-align: center;
}

td {
    padding: 5px 10px;
    background: #fff;
}

tr.odd td {
    background: #edf3fe;
}

tr.remoteplayback td {
    background: #ffcccc;
}

tr.remoteplaybackplaying td {
    background: #ffaaaa;
}

td a {
    color: #000;
    text-decoration: none;
}

td a:HOVER {
    text-decoration: underline;
}

input {
    vertical-align: middle;
}

div.error {
    color: #f00;
    padding: 10px;
    border-top: 1px solid #666;
    background: #fee;
    font-weight: bold;
}

div.message {
    color: #000;
    padding: 10px;
    border-top: 1px solid #666;
    background: #ffe;
    font-weight: bold;
}


h1.browse {
    background: url( "../images/browse_library.gif" ) center center no-repeat;
    height: 30px;
    padding: 0;
    margin: 0;
}

h1.browse span {
    display: none;
}

h1.settings {
    background: url( "../images/settings.gif" ) center center no-repeat;
    height: 30px;
    padding: 0;
    margin: 0;
}

h1.settings span {
    display: none;
}

h1.manager {
    background: url( "../images/manage_playlists.gif" ) center center no-repeat;
    height: 30px;
    padding: 0;
    margin: 0;
}

h1.manager span {
    display: none;
}

h1.searchResult {
    background: url( "../images/search_result.gif" ) center center no-repeat;
    height: 30px;
    padding: 0;
    margin: 0;
}

h1.searchResult span {
    display: none;
}


div.input {
    padding: 4px 0 12px 15px;
    background: url( "../images/input_background.gif" ) 10px 0 no-repeat;
}

div.input input {
    width: 230px;
    margin: 1px;
    padding: 0;
    border: none;
    background: none;
}

div.link {
    background: url( "../images/link.gif" ) top left no-repeat;
    padding: 5px 0 7px 20px;
    border-bottom: 1px solid #666;
}

div.link a {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}

td.check {
    text-align: center;
    vertical-align: middle;
    padding: 0;
    border: none;
    width: 35px;
}

div.buttons {
    background: url( "../images/buttons.gif" ) left bottom repeat-x;
    border-bottom: 1px solid #666;
    text-align: center;
    padding: 10px;
}

table.portal {
    border-bottom: none;
    border-top: 1px solid #666;
}

table.portal td.search {
    padding: 15px 10px 15px 48px;
    background: #E7EDF6 url( "../images/search.gif" ) 10px 50% no-repeat;
}

table.portal td.search input.text {
    width:120px;
}

table.login input.text {
    width:120px;
}

table.portal td.links {
    width: 130px;
    padding: 5px 10px 0 10px;
    border-left: 1px solid #666;
    background: #5898e5;
}

table.portal td.links a {
    display: block;
    margin: 0 0 5px 0;
    padding: 2px 0 2px 20px;
    background: url( "../images/playlist.gif" ) 0 2px no-repeat;
    color: #fff;
    text-decoration: none;
}

table.portal td.links a:HOVER {
    text-decoration: underline;
}

table.portal input {
    vertical-align: middle;
    margin: 0 0 0 10px;
}

table.portal select {
    vertical-align: middle;
    margin: 0 0 0 10px;
}

td.artist {
}

td.artist a {
  display: inline;
  color: #000;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

td.artist a:HOVER {
  text-decoration: underline;
}

td.album {
    width: 35px;
}

td.tracks {
    width: 45px;
}

td.genreartist {
    width: 55px;
}

td.playlistTracks {
    width: 45px;
    padding: 0 0 0 28px;
    background: #fff url( "../images/playlist_tracks.gif" ) left center no-repeat;
}

tr.odd td.playlistTracks {
    background: #edf3fe url( "../images/playlist_tracks.gif" ) left center no-repeat;
}

td.album a {
    display: block;
    padding: 0 0 2px 20px;
    background: url( "../images/albums.gif" ) 0 0 no-repeat;
}

td.genreartist a {
    display: block;
    padding: 0 0 2px 20px;
    background: url( "../images/artists.gif" ) 0 0 no-repeat;
}

td.tracks a {
    display: block;
    padding: 0 0 2px 20px;
    background: url( "../images/tracks.gif" ) 0 0 no-repeat;
}

tr.odd td.album a, tr.odd td.genreartist a, tr.odd td.tracks a {
    background-position: 0 -84px;
}

td.icon {
    padding: 0 10px 0 0;
    border-left: none;
    text-align: right;
    white-space: nowrap;
}

td.iconleft {
    padding: 0 0 0 10px;
    border-right: none;
    text-align: left;
    white-space: nowrap;
}

a.rss {
    display: block;
    height: 18px;
    width: 16px;
    overflow: hidden;
    background: url( "../images/rss.gif" ) 0 2px no-repeat;
    text-decoration: none;
}

tr.odd a.rss {
    background-position: 0 -83px;
}

a.playlist {
    display: block;
    height: 18px;
    width: 16px;
    overflow: hidden;
    background: url( "../images/playlist.gif" ) 0 2px no-repeat;
    text-decoration: none;
}

tr.odd a.playlist {
    background-position: 0 -83px;
}

ul.links {
    height: 26px;
    margin: 0;
    padding: 0 0 0 8px;
    background: url( "../images/links_background.gif" ) top left repeat-x;
    border-top: 1px solid #666;
    list-style: none;
}

ul.links li {
    float: left;
    margin: 4px 8px 0 0;
    padding: 0 15px 0 0;
    background: url( "../images/link.gif" ) top right repeat-x;
}

ul.links li a {
    display: block;
    height: 18px;
    font-size: 10px;
    padding: 3px 0 0 15px;
    background: url( "../images/link.gif" ) top left repeat-x;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

ul.links a:HOVER {
    text-decoration: underline;
}

div.login {
    background: #E7EDF6;
    border-bottom: 1px solid #666;
    text-align: center;
    padding: 20px 0 20px 0;
}

td.mytunes {
    padding-left: 32px;
    background-image: url( "../images/playlist_mt.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

tr.odd td.mytunes {
    padding-left: 32px;
    background-image: url( "../images/playlist_mt_odd.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

td.itunes {
    padding-left: 32px;
    background-image: url( "../images/playlist_it.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

tr.odd td.itunes {
    padding-left: 32px;
    background-image: url( "../images/playlist_it_odd.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

td.itunesfolder {
    padding-left: 32px;
    background-image: url( "../images/folder_it.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

tr.odd td.itunesfolder {
    padding-left: 32px;
    background-image: url( "../images/folder_it_odd.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

td.mytunessmart {
    padding-left: 32px;
    background-image: url( "../images/playlist_mt_smart.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

tr.odd td.mytunessmart {
    padding-left: 32px;
    background-image: url( "../images/playlist_mt_smart_odd.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

td.homefolder {
    padding-left: 32px;
    background-image: url( "../images/home_folder.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

tr.odd td.homefolder {
    padding-left: 32px;
    background-image: url( "../images/home_folder.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

td.parentfolder {
    padding-left: 32px;
    background-image: url( "../images/parent_folder.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

tr.odd td.parentfolder {
    padding-left: 32px;
    background-image: url( "../images/parent_folder.gif" );
    background-position: 10px center;
    background-repeat: no-repeat;
}

div.playlist {
    padding: 9px 10px 8px 32px;
    background: #ffe url( "../images/playlist_include.gif" ) 0 0 no-repeat;
}

div.playlisttop {
    height: 3px;
    background: #666 url( "../images/msg_top.gif" ) 0 1px no-repeat;;
}

div.playlistbottom {
    height: 2px;
    background: #666 url( "../images/msg_bottom.gif" ) 0 0 no-repeat;;
}

div.playlist span {
}

div.playlist a.close, div.playlist a.finish {
    float: right;
    margin-left: 10px;
}

th a {
    color: #000;
    text-decoration: none;
}

th a:HOVER {
    text-decoration: underline;
}

th.icon {
    padding: 0 10px 0 0;
    border-left: none;
    text-align: right;
    white-space: nowrap;
}

h1 a.portal {
    float: right;
    display: block;
    height: 20px;
    margin: 5px 10px 0 0;
    padding: 3px 22px 0 0;
    background: url( "../images/portal.gif" ) 100% 1px no-repeat;
    text-decoration: none;
    font-size: 11px;
    color: #666;
    border: none;
}

h1 a.portal:HOVER {
    background-position: 100% -81px;
    text-decoration: underline;
}

table.pager {
    border-top: 1px solid #666;
    border-bottom: none;
}

table.pager td {
    border: none;
    background: #999;
    padding: 3px 10px;
    text-align: center;
}

table.pager td span {
    color: #bbb;
    font-weight: normal;
    font-size: 10px;
    text-decoration: line-through;
}

table.pager td a {
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

table.pager td a.active {
    cursor: default;
    color: #000;
}

div.pager {
    background: #999;
    border-bottom: 1px solid #666;
    padding: 3px 10px;
    text-align: center;
}

div.pager a {
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
    font-size: 10px;
    font-weight: bold;
}

div.pager a:HOVER {
    text-decoration: underline;
}

div.pager a.active {
    color: #000;
    cursor: default;
}

div.pager a.active:HOVER {
    color: #000;
    cursor: default;
    text-decoration: none;
}

div.pager a img {
    background: #fff;
    vertical-align: text-top;
    margin-top: 3px;
}

table.login {
    border: none;
    width: auto;
    margin: 0 auto;
    font-size: 12px;
}

table.login td {
    padding: 5px;
    text-align: center;
    background: none;
    border: none;
}

table.login td.forgottenpassword {
    padding-top: 0;
    border-top: 0;
    vertical-align: top;
    font-size: smaller;
}

table.portal td.playlistManager {
    background: #E7EDF6 url( "../images/feeds.gif" ) 10px 50% no-repeat;
    padding: 15px 10px 15px 48px;
}

table.portal td.playlistManager input {
    margin-left: 10px;
    width: 200px;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

h2.fatalError {
    background-image: url( "../images/th_error.gif" );
    color: #fff;
}

div.fatalError {
    border-bottom: 1px solid #666;
    background: #fee;
    color: #ff3300;
    padding: 10px;
}

div.fatalError p {
    text-align: center;
}

h1.info {
    background: url( "../images/track_info.gif" ) center center no-repeat;
    height: 30px;
    padding: 0;
    margin: 0;
}

h1.info span {
    visibility: hidden;
}

h1.upload {
    background: url( "../images/upload.gif" ) center center no-repeat;
    height: 30px;
    padding: 0;
    margin: 0;
}

h1.upload span {
    visibility: hidden;
}

h1.serverbrowser {
    background: url( "../images/browse_servers.gif" ) center center no-repeat;
    height: 30px;
    padding: 0;
    margin: 0;
}

h1.serverbrowser span {
    visibility: hidden;
}


#progressDiv {
    display: none;
    padding: 20px;
}

#progressBackground {
    background: url("../images/progress_background.gif") repeat-x;
    border: 1px solid #666;
}

#progressBar {
    background: url("../images/progress_bar.gif") top right repeat-x;
    font-weight: bold;
    text-align: center;
}

table.displayfilter td.wide {
    width:100%;
}

div.tooltip {
    display:none;
    z-index:20;
    border-style:solid;
    border-color:black;
    border-width:1px;
    background-color:#FFFFCC;
    padding: 2px;
    max-width: 500px;
}

div.glasspane {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url('../images/glasspane.gif')
}

div.dialogbox {
    display:none;
    position:absolute;
    width:300px;
    border:2px solid;
    padding:5px;
    background-color:#FFFFCC
}

div.dialogMessage {
    margin-bottom:10px;
    text-align:justify;
}

div.dialogButton {
    float:right;
    margin-top:20px;
    margin-left:10px;
}

em.ymp-skin {
    margin-left: 5px;
    margin-top: -1px;
}

div.remotecontrolPanel {
    text-align: center;
    padding-top: 20px;
}

td.remotecontrolTrackImage {
    padding: 2px;
    width: 36px;
    height: 36px;
}

div.searchFuzzinessLabel {
    margin: 10px 0 0 10px;
}

div.searchFuzzinessSlider {
    margin: 10px 0 0 5px;
}

td.coverThumbnailColumn {
    padding-left: 47px;
}

img.coverThumbnail {
    margin-left: -37px;
    vertical-align: top;
    float: left;
}

*/