<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
  <adminPassword>2jmj7l5rSw0yVb/vlWAYkK/YBwk=</adminPassword>
  <adminHost/>
  <adminPort>47111</adminPort>
  <importOriginalImageSize>false</importOriginalImageSize>
  <version>4.3.0</version>
  <serverPort>47110</serverPort>
  <serverName>MyTunesRSS</serverName>
  <availableOnLocalNet>false</availableOnLocalNet>
  <checkUpdateOnStart>false</checkUpdateOnStart>
  <datasources>
    <datasource>
      <type>Iphoto</type>
      <definition>../../selenium/etc/iPhoto</definition>
      <id>61a5f303-9f39-469c-a780-eeada048cf0f</id>
      <importRolls>true</importRolls>
      <importAlbums>false</importAlbums>
    </datasource>
    <datasource>
      <type>Itunes</type>
      <definition>../../selenium/etc/iTunes/iTunes Library.xml</definition>
      <id>496cd935-bca9-4b8f-ad66-937635b3df26</id>
      <deleteMissingFiles>false</deleteMissingFiles>
    </datasource>
  </datasources>
  <uploadDir/>
  <uploadCreateUserDir>true</uploadCreateUserDir>
  <localTempArchive>false</localTempArchive>
  <users>
    <user>
      <name>selenium</name>
      <password>eBtOodhTZmlJtWJFH0ZJr64fhdU=</password>
      <emptyPassword>false</emptyPassword>
      <featureRss>true</featureRss>
      <featurePlaylist>true</featurePlaylist>
      <featureDownload>true</featureDownload>
      <featureUpload>true</featureUpload>
      <featurePlayer>true</featurePlayer>
      <featureChangePassword>true</featureChangePassword>
      <featureLastFmAccount>true</featureLastFmAccount>
      <featureSpecialPlaylists>true</featureSpecialPlaylists>
      <featureCreatePlaylists>true</featureCreatePlaylists>
      <featureEditWebSettings>true</featureEditWebSettings>
      <resetTime>1314894609975</resetTime>
      <quotaResetTime>1314894609975</quotaResetTime>
      <downBytes>0</downBytes>
      <quotaDownBytes>0</quotaDownBytes>
      <bytesQuota>-1</bytesQuota>
      <quotaType>None</quotaType>
      <maximumZipEntries>-1</maximumZipEntries>
      <featureTranscoder>true</featureTranscoder>
      <sessionTimeout>20</sessionTimeout>
      <email/>
      <shared>false</shared>
      <webConfigs>
        <config>
          <userAgent>default</userAgent>
          <config>cm1DdHJsPWZhbHNlO3JlY2VudGx5UGxheWVkUGxheWxpc3RTaXplPTI1O2ZlZWRUeXBlUGxheWxpc3Q9dHJ1ZTtybmRQcm90PXRydWU7cm5kTWVkaWE9O3Nob3dEb3dubG9hZD10cnVlO2ZlZWRUeXBlUnNzPXRydWU7cGhvdG9TaXplPTgwMDttb3N0UGxheWVkUGxheWxpc3RTaXplPTI1O3JhbmRvbVBsYXlsaXN0U2l6ZT0yNTtsYXN0VXBkYXRlZFBsYXlsaXN0U2l6ZT0yNTt5YWhvb01lZGlhUGxheWVyPWZhbHNlO3Nob3dUcmFja1RodW1icz1mYWxzZTtteVR1bmVzUnNzQ29tQWRkcmVzcz1mYWxzZTtyc3NMaW1pdD0wO2ZsYXNocGxheWVyPW15dHVuZXNyc3NfandtZWRpYXBsYXllcjticm93c2VyU3RhcnRJbmRleD0xO3BhZ2VTaXplPTIwO2tlZXBBbGl2ZT1mYWxzZTtwbGF5bGlzdFR5cGU9TTN1O3Bob3RvUGFnZVNpemU9MjA7cm5kU3JjPTtzaG93RXh0U2l0ZXM9ZmFsc2U7c2hvd1BsYXllcj10cnVlO3Nob3dBZGRUb1BsYXlsaXN0PWZhbHNlO3NlYXJjaEZ1enppbmVzcz01MDthbGJJbWdTaXplPTEyODtzaG93RWRpdFRhZ3M9ZmFsc2U7c2hvd0FsYnVtVGh1bWJzPWZhbHNl</config>
        </config>
      </webConfigs>
      <remoteControl>true</remoteControl>
      <parent/>
      <externalSites>true</externalSites>
      <changeEmail>true</changeEmail>
      <searchFuzziness>-1</searchFuzziness>
      <yahooPlayer>true</yahooPlayer>
      <group>false</group>
      <createPublicPlaylists>true</createPublicPlaylists>
      <featurePhotos>true</featurePhotos>
      <featureShare>true</featureShare>
      <featureDownloadPhotoAlbum>true</featureDownloadPhotoAlbum>
      <featureAudio>true</featureAudio>
      <featureVideo>true</featureVideo>
    </user>
  </users>
  <supportName/>
  <supportEmail/>
  <proxyHost/>
  <proxyPort>-1</proxyPort>
  <myTunesRssComSsl>false</myTunesRssComSsl>
  <myTunesRssComUser/>
  <myTunesRssComPassword>2jmj7l5rSw0yVb/vlWAYkK/YBwk=</myTunesRssComPassword>
  <file-types>
    <type>
      <mime-type>video/x-msvideo</mime-type>
      <suffix>avi</suffix>
      <mediatype>Video</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>application/flac</mime-type>
      <suffix>flac</suffix>
      <mediatype>Audio</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>image/gif</mime-type>
      <suffix>gif</suffix>
      <mediatype>Image</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>image/jpeg</mime-type>
      <suffix>jpg</suffix>
      <mediatype>Image</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>audio/x-m4a</mime-type>
      <suffix>m4a</suffix>
      <mediatype>Audio</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>audio/x-m4b</mime-type>
      <suffix>m4b</suffix>
      <mediatype>Audio</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>audio/x-m4p</mime-type>
      <suffix>m4p</suffix>
      <mediatype>Audio</mediatype>
      <protected>true</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>video/x-m4v</mime-type>
      <suffix>m4v</suffix>
      <mediatype>Video</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>video/quicktime</mime-type>
      <suffix>mov</suffix>
      <mediatype>Video</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>audio/mp3</mime-type>
      <suffix>mp3</suffix>
      <mediatype>Audio</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>video/x-mp4</mime-type>
      <suffix>mp4</suffix>
      <mediatype>Video</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>audio/mpeg</mime-type>
      <suffix>mpeg</suffix>
      <mediatype>Audio</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>audio/mpeg</mime-type>
      <suffix>mpg</suffix>
      <mediatype>Audio</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>application/ogg</mime-type>
      <suffix>ogg</suffix>
      <mediatype>Audio</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>image/png</mime-type>
      <suffix>png</suffix>
      <mediatype>Image</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>audio/wav</mime-type>
      <suffix>wav</suffix>
      <mediatype>Audio</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>audio/x-ms-wma</mime-type>
      <suffix>wma</suffix>
      <mediatype>Audio</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
    <type>
      <mime-type>video/x-ms-wmv</mime-type>
      <suffix>wmv</suffix>
      <mediatype>Video</mediatype>
      <protected>false</protected>
      <active>true</active>
    </type>
  </file-types>
  <artistDropWords>the</artistDropWords>
  <playmode>pz5JSIbzJX9oQPZpS38/dw==</playmode>
  <webWelcomeMessage/>
  <webLoginMessage/>
  <pathInfoKey>lJcx/kaDQPE=</pathInfoKey>
  <streamingCacheTimeout>20</streamingCacheTimeout>
  <streamingCacheMaxFiles>300</streamingCacheMaxFiles>
  <ignoreArtwork>true</ignoreArtwork>
  <codewaveLogLevel>WARN</codewaveLogLevel>
  <lastNewVersionInfo>0</lastNewVersionInfo>
  <updateIgnoreVersion>4.1.0</updateIgnoreVersion>
  <crontriggers>
    <database-backup>0 0/1 0/1 ? * SUN-SAT</database-backup>
  </crontriggers>
  <id3v2-track-comment/>
  <tomcat>
    <max-threads>200</max-threads>
    <webapp-context/>
  </tomcat>
  <ssl>
    <port>0</port>
    <keystore>
      <file/>
      <pass/>
      <keyalias/>
    </keystore>
  </ssl>
  <mail-host/>
  <mail-port>-1</mail-port>
  <smtp-protocol>PLAINTEXT</smtp-protocol>
  <mail-login/>
  <mail-password/>
  <mail-sender/>
  <admin-email/>
  <admin-notify>
    <database-update>false</database-update>
    <email-change>false</email-change>
    <internal-error>false</internal-error>
    <login-failure>false</login-failure>
    <password-change>false</password-change>
    <quota-exceeded>false</quota-exceeded>
    <transcoding-failure>false</transcoding-failure>
    <web-upload>false</web-upload>
    <missing-file>false</missing-file>
    <outdated-itunesxml>false</outdated-itunesxml>
  </admin-notify>
  <statistics-keep-time>60</statistics-keep-time>
  <disabled-mp4-codecs/>
  <transcoders>
    <config>
      <name>MP3 Audio</name>
      <options>acodec=mp3,ab=128,samplerate=44100,channels=2</options>
      <pattern>^.+\.(mp4|m4a|m4b|wav)$</pattern>
      <mp4codecs>alac,mp4a</mp4codecs>
      <targetsuffix>mp3</targetsuffix>
      <targetcontenttype>audio/mp3</targetcontenttype>
      <targetmux/>
    </config>
  </transcoders>
  <serverBrowserActive>true</serverBrowserActive>
  <openIdActive>true</openIdActive>
  <ldap>
    <host/>
    <port>-1</port>
    <auth-method>SIMPLE</auth-method>
    <auth-principal/>
    <search-root/>
    <search-expression/>
    <search-mail-name/>
    <search-timeout>0</search-timeout>
    <template-user/>
  </ldap>
  <flash-players>
    <player>
      <id>mytunesrss_jwmediaplayer</id>
      <name>JW Media Player 4.6</name>
      <html>PGh0bWw+PGhlYWQ+PHRpdGxlPk15VHVuZXNSU1MgSnVrZWJveDwvdGl0bGU+PC9oZWFkPjxib2R5IHN0eWxlPSJwYWRkaW5nOjAgMCAwIDA7IG1hcmdpbjowIDAgMCAwIj48ZW1iZWQgc3JjPSJtZWRpYXBsYXllci00LTYuc3dmIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjI3NiIgYWxsb3dzY3JpcHRhY2Nlc3M9ImFsd2F5cyIgYWxsb3dmdWxsc2NyZWVuPSJ0cnVlIiBmbGFzaHZhcnM9ImZpbGU9e1BMQVlMSVNUX1VSTH0mYW1wO2xpbmt0YXJnZXQ9X2JsYW5rJmFtcDtwbGF5bGlzdD1yaWdodCZhbXA7YXV0b3N0YXJ0PXRydWUmYW1wO3BsYXlsaXN0c2l6ZT0zNTAmYW1wO3JlcGVhdD1saXN0Ii8+PC9ib2R5PjwvaHRtbD4=</html>
      <filetype>Xspf</filetype>
      <timeunit>SECONDS</timeunit>
      <width>600</width>
      <height>276</height>
    </player>
    <player>
      <id>mytunesrss_simple</id>
      <name>XSPF Player</name>
      <html>PGh0bWw+PGhlYWQ+PHRpdGxlPk15VHVuZXNSU1MgSnVrZWJveDwvdGl0bGU+PC9oZWFkPjxib2R5IHN0eWxlPSJwYWRkaW5nOjAgMCAwIDA7IG1hcmdpbjowIDAgMCAwIj48ZW1iZWQgc3JjPSJ4c3BmX3BsYXllci5zd2Y/YXV0b3BsYXk9dHJ1ZSZhbXA7YXV0b2xvYWQ9dHJ1ZSZhbXA7cGxheWxpc3RfdXJsPXtQTEFZTElTVF9VUkx9IiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjQ1MCIgYWxsb3dzY3JpcHRhY2Nlc3M9ImFsd2F5cyIgYWxsb3dmdWxsc2NyZWVuPSJ0cnVlIiBmbGFzaHZhcnM9ImRpc3BsYXl3aWR0aD0yNTYiLz48L2JvZHk+PC9odG1sPg==</html>
      <filetype>Xspf</filetype>
      <timeunit>MILLISECONDS</timeunit>
      <width>600</width>
      <height>450</height>
    </player>
    <player>
      <id>mytunesrss_jwmediaplayer_shuffle</id>
      <name>JW Media Player 4.6 (Shuffle)</name>
      <html>PGh0bWw+PGhlYWQ+PHRpdGxlPk15VHVuZXNSU1MgSnVrZWJveDwvdGl0bGU+PC9oZWFkPjxib2R5IHN0eWxlPSJwYWRkaW5nOjAgMCAwIDA7IG1hcmdpbjowIDAgMCAwIj48ZW1iZWQgc3JjPSJtZWRpYXBsYXllci00LTYuc3dmIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjI3NiIgYWxsb3dzY3JpcHRhY2Nlc3M9ImFsd2F5cyIgYWxsb3dmdWxsc2NyZWVuPSJ0cnVlIiBmbGFzaHZhcnM9ImZpbGU9e1BMQVlMSVNUX1VSTH0mYW1wO2xpbmt0YXJnZXQ9X2JsYW5rJmFtcDtwbGF5bGlzdD1yaWdodCZhbXA7YXV0b3N0YXJ0PXRydWUmYW1wO3BsYXlsaXN0c2l6ZT0zNTAmYW1wO3JlcGVhdD1saXN0JmFtcDtzaHVmZmxlPXRydWUiLz48L2JvZHk+PC9odG1sPg==</html>
      <filetype>Xspf</filetype>
      <timeunit>SECONDS</timeunit>
      <width>600</width>
      <height>276</height>
    </player>
    <player>
      <id>mytunesrss_jwmediaplayer316</id>
      <name>JW Media Player 3.16</name>
      <html>PGh0bWw+PGhlYWQ+PHRpdGxlPk15VHVuZXNSU1MgSnVrZWJveDwvdGl0bGU+PC9oZWFkPjxib2R5IHN0eWxlPSJwYWRkaW5nOjAgMCAwIDA7IG1hcmdpbjowIDAgMCAwIj48ZW1iZWQgc3JjPSJtZWRpYXBsYXllci0zLTE2LnN3ZiIgd2lkdGg9IjYwMCIgaGVpZ2h0PSI0NTAiIGFsbG93c2NyaXB0YWNjZXNzPSJhbHdheXMiIGFsbG93ZnVsbHNjcmVlbj0idHJ1ZSIgZmxhc2h2YXJzPSJmaWxlPXtQTEFZTElTVF9VUkx9JmFtcDtsaW5rdGFyZ2V0PV9ibGFuayZhbXA7YXV0b3N0YXJ0PXRydWUmYW1wO3JlcGVhdD1saXN0Ii8+PC9ib2R5PjwvaHRtbD4=</html>
      <filetype>Xspf</filetype>
      <timeunit>SECONDS</timeunit>
      <width>600</width>
      <height>450</height>
    </player>
  </flash-players>
  <initialWizard>false</initialWizard>
  <upnp-admin>false</upnp-admin>
  <upnp-user-http>false</upnp-user-http>
  <upnp-user-https>false</upnp-user-https>
  <selfreg-template-user>selenium</selfreg-template-user>
  <selfreg-admin-email>false</selfreg-admin-email>
  <default-ui-theme/>
  <database-backup-max>1</database-backup-max>
  <database-backup-after-init>false</database-backup-after-init>
  <headless>false</headless>
  <vlc>/Applications/VLC.app/Contents/MacOS/VLC</vlc>
  <vlc-timeout>100</vlc-timeout>
  <vlc-raop-volume>75</vlc-raop-volume>
  <rss-description>Visit http://www.codewave.de for more information.</rss-description>
</settings>
