<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>MyTunesRSS web application</description>
    <display-name>MyTunesRSS</display-name>
    <filter>
        <description>Filter for trimming all parameter strings.</description>
        <display-name>ParameterTrimmerFilter</display-name>
        <filter-name>ParameterTrimmerFilter</filter-name>
        <filter-class>de.codewave.utils.servlet.ServletRequestParameterTrimmer</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ParameterTrimmerFilter</filter-name>
        <servlet-name>CommandServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <description>Command dispatcher servlet</description>
        <display-name>CommandServlet</display-name>
        <servlet-name>CommandServlet</servlet-name>
        <servlet-class>de.codewave.utils.servlet.CommandServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
