<?xml version="1.0" encoding="UTF-8"?>

<!--
  * Copyright (c) 2006, Codewave Software. All Rights Reserved.
  -->

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>iTunes RSS</display-name>
    <filter>
        <filter-name>ParameterTrimmerFilter</filter-name>
        <filter-class>de.codewave.utils.servlet.ServletRequestParameterTrimmer</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ParameterTrimmerFilter</filter-name>
        <servlet-name>RSSFeed</servlet-name>
    </filter-mapping>
    <listener>
        <description>Servlet context listener for loading the iTunes library</description>
        <display-name>iTunesLibraryListener</display-name>
        <listener-class>de.codewave.mytunesrss.itunes.ITunesLibraryContextListener</listener-class>
    </listener>
    <servlet>
        <description>Servlet for searching the library</description>
        <display-name>Search</display-name>
        <servlet-name>Search</servlet-name>
        <servlet-class>de.codewave.mytunesrss.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Servlet for sorting results</description>
        <display-name>Sort</display-name>
        <servlet-name>Sort</servlet-name>
        <servlet-class>de.codewave.mytunesrss.servlet.SortServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Servlet for selecting results</description>
        <display-name>Select</display-name>
        <servlet-name>Select</servlet-name>
        <servlet-class>de.codewave.mytunesrss.servlet.SelectServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Servlet for creating the RSS feed</description>
        <display-name>RSSFeed</display-name>
        <servlet-name>RSSFeed</servlet-name>
        <servlet-class>de.codewave.mytunesrss.servlet.RSSFeedServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Servlet for delivering MP3 content</description>
        <display-name>MP3Delivery</display-name>
        <servlet-name>MP3Delivery</servlet-name>
        <servlet-class>de.codewave.mytunesrss.servlet.MP3DeliveryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sort</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select</servlet-name>
        <url-pattern>/select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MP3Delivery</servlet-name>
        <url-pattern>/get/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSSFeed</servlet-name>
        <url-pattern>/rss/*</url-pattern>
    </servlet-mapping>
    <filter>
        <description>Filter for putting the application context into a request attribute.</description>
        <display-name>AppCtxFilter</display-name>
        <filter-name>AppCtx</filter-name>
        <filter-class>de.codewave.mytunesrss.servlet.AppCtxFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AppCtx</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
